<div>
  <h1>Hello World</h1>
  {{outlet}}
</div>

<footer>
  Recipe search powered by <a href='http://www.yummly.com/recipes'><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a>
</footer>