<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Me!</title>
  </head>
  <body>
    hello world
    <div id="ember-app"></div>

    <script src="jquery/dist/jquery.js"></script>
    <script src="handlebars/handlebars.js"></script>
    <script src="ember/ember.js"></script>
    <script src="ember-data/ember-data.js"></script>
    <script src="js/application.js"></script>
    <script src="js/router.js"></script>
    <script src="js/models/store.js"></script>
    <script src="js/models/recipe.js"></script>
    <script type="text/handlebars" src="js/templates/application.hbs"></script>
    <!-- <script src="js/views/application-view.js"></script> -->
    <!-- <script src="ember/controllers/*.js"></script> -->
    <!-- <script src="ember/templates/application.hbs"></script> -->
  </body>
</html>