<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Me!</title>
  </head>
  <body>
    <div id="ember-app"></div>

    Recipe search powered by <a href='http://www.yummly.com/recipes'><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a>

    <script src="ember/ember.min.js"></script>
    <script src="ember-data/ember-data.min.js"></script>
    <script src="handlebars/handlebars.min.js"></script>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="ember/application.js"></script>
    <script src="ember/router.js"></script>
    <script src="ember/models/recipe.js"></script>
    <!-- <script src="ember/controllers/*.js"></script> -->
    <!-- <script src="ember/templates/application.hbs"></script> -->
  </body>
</html>