<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Me!</title>
  </head>
  <body ng-app="RecipeMe">
    <div ng-view></div>

    <script src="angular/angular.js"></script>
    <script src="angular-route/angular-route.js"></script>
    <script src="lodash/dist/lodash.js"></script>
    <script src="restangular/dist/restangular.js"></script>
    <script src="js/application.js"></script>
    <script src="js/services/yummly-service.js"></script>
    <script src="js/services/recipe-service.js"></script>
    <script src="js/controllers/recipe-controller.js"></script>
    <script src="js/controllers/single-recipe-controller.js"></script>
  </body>
</html>